<head>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../assets/css/statePage.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="<%= stateData.imageURL[0] %>">
                </span>

                <div class="text logo-text">
                    <span class="name"><%= stateData.stateName %></span>
                    <img src="">
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/index?state=<%= stateData.stateName%>" target="_blank">
                            <i class='bx bx-restaurant icon' ></i>
                            <span class="text nav-text">Cuisines</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/music?state=<%= stateData.stateName%>" target="_blank">
                            <i class='bx bxs-music icon' ></i>
                            <span class="text nav-text">Music</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/dance?state=<%= stateData.stateName%>" target="_blank">
                            <i class='bx bx-walk icon' ></i>
                            <span class="text nav-text">Dance</span>
                        </a>
                    </li>
                </ul>
                <br>          
                <div id="google_translate_element"></div>
            </div>
        </div>
    </nav>
    <section class="home">
        <div style="position: relative; width: 100%; height:100%; padding-top: 56.2500%;
        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);overflow: hidden;
        border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="<%= stateData.videoURL %>" allowfullscreen="allowfullscreen" allow="fullscreen" autoplay muted>
        </iframe>
        </div>
    </section>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script>
    	const body = document.querySelector('body'),
     	sidebar = body.querySelector('nav'),
    	toggle = body.querySelector(".toggle"),

        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

		toggle.addEventListener("click" , () =>{sidebar.classList.toggle("close");})

        function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: 'en',
            includedLanguages: '<%= stateData.lang%>'
          },
          'google_translate_element'
        );
      }
    </script>





